:root {
    --mainFont: 'DM Sans', sans-serif;
    --primary: #DFDFDF;
    --dark: #000000;
    --light: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--mainFont);
    font-size: 15px;
    line-height: 25px;

    max-width: 1440px;
}

h1 {
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
}

h2 {
    font-size: 24px;
    line-height: 25px;
    text-transform: uppercase;

}

h3 {
    font-size: 18px;
    line-height: 25px;
}

h4 {
    font-size: 13px;
    line-height: 16px;
}

a {
    font-size: 12px;
    letter-spacing: 2px;
    color: var(--dark);
    text-transform: uppercase;
    text-decoration: none;
}

hr {
    width: 100%;
    color: var(--primary);
    opacity: 0.3;
}

.bordered {
    background-image:
        linear-gradient(#5A77FF, #BC7198, #FFC593),
        linear-gradient(#5A77FF, #BC7198, #FFC593);
    background-size: 5px 100%;
    background-repeat: no-repeat;
}

/* .border {
    width: 400px;
    padding: 20px;
    border-top: 10px solid #FFFF00;
    border-bottom: 10px solid #FF0000;
    background-image:
        linear-gradient(#5A77FF, #BC7198, #FFC593),
        linear-gradient(#5A77FF, #BC7198, #FFC593);
    background-size: 5px 100%;
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-position: 0 0, 100% 0;
} */


/* HEADER CONTENT */

header {
    width: 100%;
    height: 72px;
}

.logo,
nav,
.cta {
    width: calc(100% / 3);
    height: 100%;
    float: left;

    display: flex;
    justify-content: center;
    align-items: center;
}

nav>ul {
    list-style: none;
}

nav>ul>li>a {
    display: inline-block;
    padding: 0 42px;
}

nav>ul>li>a:hover {
    color: var(--primary);
}


.cta a {
    color: var(--light);
    background-color: var(--dark);
    padding: 12px 24px;
}

.cta a:hover {
    color: var(--light);
    background-color: var(--primary);
}

/* 
SECTION HERO 
*/

section.hero {
    width: 100%;
    height: 650px;
}

.hero__content {
    width: 610px;
    height: 100%;
    float: left;
    padding: 173px 0;
    background-color: var(--dark);
    color: var(--light);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__content__wrapper {
    width: 100%;
    padding: 0 112px;

}

.hero__content__wrapper h1 {
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 2px;
    margin-top: 0;
}

.hero__content__wrapper p {
    color: var(--primary);
    font-size: 15px;
    opacity: 0.6;
    margin-bottom: 53px;
}

.hero__content__wrapper a {
    color: var(--light);
    position: relative;
}

.hero__content__wrapper a:hover {
    text-decoration: underline;
}

.hero__content__wrapper a::after {
    content: url('../assets/shared/desktop/arrow.svg');
    display: inline-block;
    height: 20px;
    width: 50px;
    position: absolute;
    top: -2px;
    right: -75px;
}

.hero__image {
    width: 830px;
    height: 100%;
    float: left;
}

/* SECTION STORIES */

section.stories {
    width: 100%;
    height: 600px;
}

.stories__image {
    width: 830px;
    height: 100%;
    float: left;
}

.stories__content {
    width: 610px;
    height: 100%;
    float: left;
    padding: 135px 0;
    background-color: var(--light);
    color: var(--dark);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stories__content__wrapper {
    width: 100%;
    padding: 0 112px;

}

.stories__content__wrapper h1 {
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 2px;
    margin-top: 0;
}

.stories__content__wrapper p {
    color: var(--dark);
    font-size: 15px;
    margin-bottom: 53px;
}

.stories__content__wrapper a {
    color: var(--dark);
    position: relative;
}

.stories__content__wrapper a:hover {
    text-decoration: underline;
}

.stories__content__wrapper a::after {
    content: url('../assets/shared/desktop/arrow_bk.svg');
    display: inline-block;
    height: 20px;
    width: 50px;
    position: absolute;
    top: -2px;
    right: -75px;
}

/* 
SECTION DESEIGNED FOR EVERYONE 
*/

section.designed {
    width: 100%;
    height: 600px;
}


.designed__content {
    width: 610px;
    height: 100%;
    float: left;
    padding: 0 159px;
    background-color: var(--light);
    color: var(--dark);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.designed__content__wrapper {
    width: 100%;
    padding: 112px 0;

}

.designed__content__wrapper h1 {
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 2px;
    margin-top: 0;
}

.designed__content__wrapper p {
    color: var(--dark);
    font-size: 15px;
    margin-bottom: 53px;
}

.designed__content__wrapper a {
    color: var(--dark);
    position: relative;
}

.designed__content__wrapper a:hover {
    text-decoration: underline;
}

.designed__content__wrapper a::after {
    content: url('../assets/shared/desktop/arrow_bk.svg');
    display: inline-block;
    height: 20px;
    width: 50px;
    position: absolute;
    top: -2px;
    right: -75px;
}

.designed__image {
    width: 830px;
    height: 100%;
    float: left;
}

/* 
SECTION CARD 
*/

section.card {
    width: 100%;
    height: 500px;
    border: 1px solid green;
}

.card__item {
    width: calc(100% / 4);
    height: 100%;
    padding: 40px;
    float: left;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.card__item.one {
    background-image: url('../assets/stories/desktop/mountains.jpg');
}

.card__item.two {
    background-image: url('../assets/stories/desktop/cityscapes.jpg');
}

.card__item.three {
    background-image: url('../assets/stories/desktop/18-days-voyage.jpg');
}

.card__item.four {
    background-image: url('../assets/stories/desktop/architecturals.jpg');
}

.card__item h3,
.card__item h4,
.card__item a {
    color: var(--light);
}

.card__item h3 {
    margin-bottom: 5px;
}

.card__item h4 {
    margin-bottom: 16px;
}

.card__item a {
    margin-top: 20px;
    position: relative;
}

.card__item a::after {
    content: url('../assets/shared/desktop/arrow.svg');
    display: inline-block;
    height: 20px;
    width: 50px;
    position: absolute;
    top: 3px;
    right: -195px;
}